a:link{
    color: #111;
    text-decoration: none;
}
a:visited{
    color: #111;
    text-decoration: none;
}
.body{
    background: #FFA300;
    font-family: sans-serif;
}


@media (max-width:1050px) {
    
    .wrapper{
        display: grid;
        grid-template-rows: 2.5fr 2fr 2fr 2fr ;
    }
    .wrapper>div {
        background: #FFA300;
    }
    .wrapper > div:nth-child(odd){
        background: #FFA300;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        row-gap: 2em;
    }
    .containers > div{
        background: #FFA300;
    }
    .containers > div:nth-child(odd){
        background: #FFA300;
    }
    .section{
        display: grid;
        grid-template-rows: 290px 290px;
        row-gap: 5em;
    }
    .section > div{
        background: #111;
    }
    .section > div:nth-child(odd){
        background:  #FFA300;
    }
    .section1{
        
    }
    .section2{
    }
    .prof{
        display: grid;
        grid-template-rows: 100px 270px 300px;
    }
    .prof > div{
        background: #EFECEB;
        border : 15px solid  #FF4F00;
    }
    .prof> back {
        background-color:#FFA300;
        align-content: center;
    }
    .row{
        display: grid;
        grid-template-rows: 50px 300px;
    }
    .row > div{
        background: #EFECEB;
        border : 15px solid  #FF4F00;
    }
    .row > div:nth-child(odd){
        background: #FF4F00;
    }
    .long-row{
        display: grid;
        grid-template-rows: 40px 290px;
    }
    .long-row > div{
        background: #EFECEB;
        border : 15px solid  #FF4F00;
    }
    .long-row > div:nth-child(odd){
        background: #FF4F00;
    }
    .textbox{
        display: grid;
        grid-template-rows: 60px 100px ;
    }
    .textbox > div {
        font: black ;
    }
    .subtitle {
        padding: 0.5em;
        font-size: 20pt;
        text-align: center;
        font-weight: bold;
    
    }
    .content {
        padding-left: 1em;
        padding-right:1em;
        padding-block-end: 1em;
        font-size: 12pt;
    }
    .sub {
        font-size: 13pt;
        font-weight: bold;
    }
    .volun{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .volun >div {
        font: black;
    }
    .isisub {
        font-size: 10pt;
        font-weight: normal;
        padding-bottom: 3em ;
    }
    .context{
        display: grid;
        grid-template-rows: 1fr 3fr;
        row-gap: 1em;
    }
    .contact{
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-size: 9pt;
    }
    .buttonimg{
        margin-left:auto;margin-right:auto;display:block ;width: 65px; position: relative;}
    .about{
        font-size: 10pt;
        padding: 1em;
    }
    
    .tengah{padding : 1em;margin-left:auto;margin-right:auto;display:block;width:200px; height: 200px;}
    
    .idcard{margin-left:auto;margin-right:auto;display:block;width:30%;}
    .imgcp{
        display: block; float: right; width: 20px; margin-left:auto;margin-right:1em;
    }
    .page{
        grid-template-rows:90px;
        padding-top: 2em;
        padding-left: 2em;
        padding-right: 2em;
        border-width: 5em;

        }
        .pages{
             min-height: 700px;
        }
        .pad{
            padding: 5em;
        }
        .pads{
            padding:3em;
        }
        .padss{
            padding:1em;
        }
        
        .bigger{
            font-size: 16pt;
        }
        .big{
            width: 120px;
        }
}

@media (min-width:1000px) {
        body{
            padding-top: 0.5em;
            background: #FFA300;
            font-family: sans-serif;
        }
        .wrapper{
            display: grid;
            grid-template-columns: 2.5fr 5fr 3fr 3fr;
            grid-template-rows: minmax(700px,auto);
            column-gap: 0.5em;
        }
        .wrapper>div {
            background: #FFA300;
        }
        .wrapper > div:nth-child(odd){
            background: #FFA300;
        }
        
        .container{
            display: grid;
            grid-template-rows: 200px 200px ;
            row-gap: 5em;
        }
        .container > div{
            background: #111
        }
        .container > div:nth-child(odd){
            background: blue;
        }
        
        .section{
            display: grid;
            grid-template-rows: 200px 230px;
            row-gap: 5em;
        }
        .section > div{
            background: #111;
        }
        .section > div:nth-child(odd){
            background:  #FFA300;
        }
        .section1{
            
        }
        .section2{
        }
        .prof{
            display: grid;
            grid-template-rows: 60px 230px 270px;
        }
        .prof > div{
            background: #EFECEB;
            border : 15px solid  #FF4F00;
        }
        .prof> back {
            background-color:#FFA300;
        }
        .row{
            display: grid;
            grid-template-rows: 30px 220px;
        }
        .row > div{
            background: #EFECEB;
            border : 8px solid  #FF4F00;
        }
        .row > div:nth-child(odd){
            background: #FF4F00;
        }
        .long-row{
            display: grid;
            grid-template-rows: 30px 230px;
        }
        .long-row > div{
            background: #EFECEB;
            border : 15px solid  #FF4F00;
        }
        .long-row > div:nth-child(odd){
            background: #FF4F00;
        }
        .textbox{
            display: grid;
            grid-template-rows: 40px 70px ;
        }
        .textbox > div {
            font: black ;
        }
        .subtitle {
            padding: 0.5em;
            font-size: 15pt;
            text-align: center;
            font-weight: bold;
        
        }
        .content {
            padding-left: 1em;
            padding-right:1em;
            padding-block-end: 1em;
            font-size: 7pt;
        }
        
        .sub {
            font-size: 10pt;
            font-weight: bold;
        }
        .volun{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .volun >div {
            font: black;
        }
        .isisub {
            font-size: 8pt;
            font-weight: normal;
            padding-bottom: 3em ;
        }
        .context{
            display: grid;
            grid-template-rows: 1fr 3fr;
            row-gap: 1em;
        }
        .contact{
            display: grid;
            grid-template-columns: 1fr 3fr;
            font-size: 7pt;
        }
        .about{
            font-size: 10pt;
            padding: 1em;
        }
    
        .tengah{padding : 1em;margin-left:auto;margin-right:auto;display:block;width:160px; height: 160px;}
    
        .idcard{margin-left:auto;margin-right:auto;display:block;width:40%;}
        .imgcp{
            display: block; float: right; width: 15px; margin-left:auto;margin-right:1em;
        }
        .buttonimg{
            margin-left:auto;margin-right:auto;display:block ;width: 40px;position: relative;}
        
            .page{
                grid-template-rows:90px;
                padding-top: 2em;
                padding-left: 10em;
                padding-right: 10em;
                border-width: 5em;
    
                }
                .pages{
                     min-height: 500px;
                }
                .pad{
                    padding: 10em;
                }
                
                .bigger{
                    font-size: 18pt;
                }
                .big{
                    width: 120px;
                }
                .pads{
                    padding:4em;
                }
                .padss{
                    padding:2em;
                }
}
    
@media(min-width:1280px){
body{
    background: #FFA300;
    font-family: sans-serif;
}
.wrapper{
    display: grid;
    grid-template-columns: 2.5fr 5fr 3fr 3fr;
    grid-template-rows: minmax(700px,auto);
    column-gap: 1em;
}
.wrapper>div {
    background: #FFA300;
}
.wrapper > div:nth-child(odd){
    background: #FFA300;
}

.container{
    display: grid;
    grid-template-rows: 300px 320px ;
    row-gap: 5em;
}
.container > div{
    background: #111
}
.container > div:nth-child(odd){
    background: blue;
}

.section{
    display: grid;
    grid-template-rows: 290px 290px;
    row-gap: 5em;
}
.section > div{
    background: #111;
}
.section > div:nth-child(odd){
    background:  #FFA300;
}
.section1{
    
}
.section2{
}
.prof{
    display: grid;
    grid-template-rows: 100px 270px 300px;
}
.prof > div{
    background: #EFECEB;
    border : 15px solid  #FF4F00;
}
.prof> back {
    background-color:#FFA300;
    align-content: center;
}
.row{
    display: grid;
    grid-template-rows: 50px 300px;
}
.row > div{
    background: #EFECEB;
    border : 15px solid  #FF4F00;
}
.row > div:nth-child(odd){
    background: #FF4F00;
}
.long-row{
    display: grid;
    grid-template-rows: 40px 290px;
}
.long-row > div{
    background: #EFECEB;
    border : 15px solid  #FF4F00;
}
.long-row > div:nth-child(odd){
    background: #FF4F00;
}
.textbox{
    display: grid;
    grid-template-rows: 60px 100px ;
}
.textbox > div {
    font: black ;
}
.subtitle {
    padding: 0.5em;
    font-size: 20pt;
    text-align: center;
    font-weight: bold;

}
.content {
    padding-left: 1em;
    padding-right:1em;
    padding-block-end: 1em;
    font-size: 12pt;
}
.sub {
    font-size: 13pt;
    font-weight: bold;
}
.volun{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.volun >div {
    font: black;
}
.isisub {
    font-size: 10pt;
    font-weight: normal;
    padding-bottom: 3em ;
}
.context{
    display: grid;
    grid-template-rows: 1fr 3fr;
    row-gap: 1em;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 9pt;
}
.buttonimg{
    margin-left:auto;margin-right:auto;display:block ;width: 65px;position: relative;}
.about{
    font-size: 16pt;
    padding: 1em;
}

.tengah{padding : 1em;margin-left:auto;margin-right:auto;display:block;width:200px; height: 200px;}

.idcard{margin-left:auto;margin-right:auto;display:block;width:60%;}
.imgcp{
    display: block; float: right; width: 20px; margin-left:auto;margin-right:1em;
}
.page{
    grid-template-rows:90px;
    padding-top: 2em;
    padding-left: 10em;
    padding-right: 10em;
    border-width: 5em;

    }
    .pages{
         min-height: 700px;
    }
    .pad{
        padding: 7em;
    }
    .pads{
        padding:5em;
    }
    .padss{
        padding:2em;
    }
    .bigger{
        font-size: 24pt;
    }
    .big{
        width: 120px;
    }

}





    

    
    

 