{% load static %}
<html>
    <head>   
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">     
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'style8.css' %}"> 
       
    </head>

    <body>
        <center>
        <div class="container-lg table">
            <h1>Cari Buku Yuk!</h1>
        
        <input id="pencarian" placeholder="masukkan kata kunci">
        <div id="daftar_buku" class="container">
        </div>
    </div>
    </center>
    </body>
    <script type="text/javascript">
        $("#pencarian").keyup(function(){
            var cari = $("#pencarian").val();
            //console.log(cari)
            $.ajax({
                url: "/data?q="+cari, 
                success : function(data){
                    console.log(data);
                    var array_hasil = data.items;
                    $("#daftar_buku").empty();
                    for(i=0;i<array_hasil.length;i++){
                        judul = array_hasil[i].volumeInfo.title;
                        author = array_hasil[i].volumeInfo.authors;
                        publisher = array_hasil[i].volumeInfo.publisher;
                        published_date = array_hasil[i].volumeInfo.publishedDate;
                        description = array_hasil[i].volumeInfo.description;
                        if (author == undefined ){
                            author = "-"
                        }
                        if (publisher == undefined ){
                            publisher = "-"
                        }
                        if (published_date == undefined ){
                            published_date = "-"
                        }
                        if (description == undefined ){
                            description = "tidak ada deskripsi"
                        }
                        
                        gambar = array_hasil[i].volumeInfo.imageLinks.thumbnail;
                        $('#daftar_buku').append(
                            "<div class='imageku'><img src="+gambar+"></div>"+
                            "<div class='item'><div>Judul : "+judul+"</br>Penulis : "+
                                author+"</br>Penerbit : "+
                                publisher+"</br>Tanggal Terbit : "+
                                published_date+"</br>Deskripsi : </br>"+description+"</div>"
                                );
                    }
                }
            });
        });
        </script>
</html>