.page{
    background-color: #FFA300;
    display: grid;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
}
.tes{
    background-color: #FFA300;
    font-size: 16pt;
}














#header
{
    background-color:  gainsboro;
    height      : 10%;
    width: 40%;
    font-size   : 1.5em;
    text-align  :center;
    padding-top : 20px;
    border width:5px;
    border-color: black;
    border-style: solid;
    position: relative;
}
#sidebar
{
    float       : left;
    height      : 400px;
    width       :40%;
    font-size   : 1.5em;
    text-align  :center;
    padding-top : 20px;
    border-color: bisque;
    border: 3px;
}
#content
{
    width       : 40%;
    font-size   : 1.5em;
    text-align  :center;
    padding-top : 20px;
    border-style: solid;
    border width:5px;
    border-color: black;
    padding-left: 20px;
}
#footer
{
    background-color: grey;
    clear       : both;
    font-size   : 1.5em;
    text-align  :center;
    width: 40%;
    height: 10%;
    border width:5px;
    border-color: black;
    border-style: solid;
    position: relative;
}

.nav {
    margin:auto;
    text-align: center;
    width: 100%;
   } 

   .nav ul ul {
    display: none;
   }

   .nav ul li:hover > ul{
   display: block;
   width: 150px;
   }

   .nav ul {
    background: beige;
    padding: 0 20px;
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
   }

   .nav ul:after {
    content: ""; 
    clear:both; 
    display: block;
   }

   .nav ul li{
    float:left;
   }

   .nav ul li:hover{
    background:#666;
   }

   .nav ul li:hover a{
    color:#fff;
   }

   .nav ul li a{
    display: block;
    padding: 25px;
    color:black;
    text-decoration: none;
   }

   .nav ul ul{
    background: #53bd84;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top:100%;
   }

   .nav ul ul li{
    float:none;
    border-top: 1px soild #53bd84;
    border-bottom: 1px solid #53bd84;
    position: relative;
   }

   .nav ul ul li a{
    padding: 15px 40px;
    color: #fff;
   }

   .nav ul ul li a:hover{
    background-color: #666;
   }

   .nav ul ul ul{
    position: absolute;
    left: 100%;
    top: 0;
   }
