{%load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block page_title %}  

            {% endblock page_title %}
        </title>
          <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
          <link rel="stylesheet" href="{% static 'style.css' %}">   
    </head>
    <body>
        <body style="background-color:  #EFECEB; position : sticky;" >
            <ul class="nav nav-pills">
            <li class="nav-item">
            <a class="nav-link active" href="#" >Story 6</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{%url 'story6:createKegiatan'%}">Kegiatan</a>
            </li>
            </ul>
            </body>
            <div style="background-color: #FFA300;padding-left: 2em;padding-right: 2em;">
        {%block content  %}
        {% endblock content %}
        </div>
    </body>
</html> 