{% extends 'base3.html' %}
{%load static %}

{% block page_title %}  
{{page_title}}
{% endblock page_title %}
    
{% block content %}


<h3>
    {{page_title}}
</h3>    

        <form method="POST">
        
            {% csrf_token %}
            <table>
                {{peserta.as_table}}
            </table>
            <button type="Submit">Tambah </button>
        </form>
      <b> List Peserta</b>
         <table class="table-hover  ">
            {% for i in list_peserta %}
                <tr> 
                    {% if i.kegiatan == listKegiatan %}
                    <td>
                    {{i.namaPeserta}}
                    </td>
                    {% endif %}
                </tr>          
            {% endfor %}
        </table>
        


{% endblock content %}


