{% extends "base3.html" %}
{%load static %}

{% block page_title %}
	{{page_title}}
{% endblock page_title %}

{% block content %}
Test disini
    <h2>{{page_title}}</h2>
      <form method="POST" >
    {%csrf_token%}
    <table>
        {{kegiatan.as_table}}
    </table>
    <button class="btn btn-light">Tambah</button>
    </form>

<br/>
    Halo Semua
    <h4><b>List kegiatan</b></h4>
    <table class="table-hover  border">
        {% for i in list_kegiatan %}
            <tr> 
                <td style="padding: 2em">
                <h5>{{i.namaKegiatan}}</h5>
                </td>
                <td style="padding-bottom: 2em ;">
                    <a class=" btn btn-light" href = "{% url 'story6:createPeserta' kegiatan_id=i.id%}"> Add/edit </a>
                </td>
            </tr>          
        {% endfor %}
    </table>
  
{% endblock content %}
