
body{
    background-color: #DCCFEE;
}
p{
    font-size: 18pt;
}
.btn-tab{
    background-color: #17A7BF;
    color: white;
}

.accordions{
transition: 0.5s;
background-color: #232065;
color: white;
cursor: pointer;
margin: 10px;
border-radius: 0.5cm;
}
.tab {
    display: none;
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    border-radius: 0.5;
    transition: all 0.6s;
}
.tab:hover{
    background-color: #17A7BF;
}
.activeAccor, .tab.active {
    background-color: #232065;
    display: block;
    max-height: fit-content;
}
.accor1 {order: 1;}
.accor2 {order: 2;}
.accor3 {order: 3;}
.accor4 {order: 4;}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    column-gap: 2em;
    padding: 5px;
    border: 10;
}