<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <link href="{%static 'style1.css' %}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <center>
            <h2>
                <a  href="{% url 'story4:story4' %}">Back to Future</a>
            </h2>
        <div id="header">
            <h1>Universitas Indonesia<br>
            Computer Science
                </h1>
            
        </div>
        <div id="content">
            <img src="{%static 'MX26.jpg' %}" alt="Cey" width="330" height="440"><br>
            <bold><h1>Gilang Catur Yudishtira</bold>
            1906293045</h1>
            Hello, you can call me Cey! I'm from Pontianak, Kalimantan Barat. My hobbies are watching film, playing mobile game and Bridge-Card Game. 
        </div>
        <div id="footer"> 
            <br> 
        </div>
        
        
    </center>
    
    </body>
</html>