{% load static %}
<html>
    <head>   
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">     
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'styley.css' %}">   
       
    </head>
    <body>
    <center>
        <div class="container">
            <div class="accor1 accordions" >
                <h3>Tentang Saya </h3> <span><button class="btn btn-tab btn-outline-light up">up</button><button class="btn btn-tab btn-outline-light down">down</button></button></span>
                <div class="tab1 tab">
                    <p>Halo, nama saya Gilang Catur Yudishtira, saya lahir di Pontianak, 20 November 2001. Salam Kenal!</p>
                </div>
               
            </div>
            <br>
            <div class="accor2 accordions">
                <h3>Aktivitas saat ini </h3><span><button class="btn btn-tab btn-outline-light up">up</button><button class="btn btn-tab btn-outline-light down">down</button></button></span>
                <div class="tab2 tab">
                   <p> Saat ini saya adalah seorang mahasiswa Ilmu Komputer di Universitas Indonesia</p> 
                </div>
                
            </div>
            <br>
            <div class="accor3 accordions">
                <h3>Pengalaman Organisasi dan Kepanitiaan </h3> <span><button class="btn btn-tab btn-outline-light up">up</button><button class="btn btn-tab btn-outline-light down">down</button></button></span>
                <div class="tab3 tab">
                   <p>Vice Project Officer BETIS Fasilkom UI 2021</p>
                   <p>Project Officer Yok Budak Masok UI 2021</p>
                   <p>Staff Departemen Pengabdian Masyarakat BEM Fasilkom UI 2020</p>
                   <p>Staff Sponsorship Pesta Rakyat Komputer 2020</p>
                </div>
               
            </div>
            <br>
            <div class="accor4 accordions">
                <h3>Prestasi</h3><span><button class="btn btn-tab btn-outline-light up">up</button><button class="btn btn-tab btn-outline-light down">down</button></button></span></h3>
                <div class="tab4 tab">
                   <p> Juara 2 Team U-21 Turnamen Bridge Piala IKA UNDIP 2019 </p>
                   <p> Awardee Beasiswa Unggulan 2019</p>
                </div>
                
            </div>
        </div>
    </center>
    <link rel="stylesheet" href="{% static 'javascripts.js' %}">  
    <script src="/static/javascripts.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
</html>