{% extends "base2.html" %}


{% block page_title %}
	{{page_title}}
{% endblock page_title %}

{% block content %}
    <h2>{{page_title}}</h2>
  {%if cek == 'Dasar-Dasar Pemrograman' %}
    <div class="col-5 text-justify">
        <div class=" row">
        <b>Dasar-Dasar Pemrograman</b>
        </div>
        <div class='row'>
            Jumlah SKS : 4 <br/>Prasyarat : Tidak Ada<br/><br/>
        </div>
        <div class='row'>
            Mata kuliah yang mempelajari tentang dasar-dasar pemrogramman, menggunakan bahasa python sebagai media pembelajaran. Setelah pembelajaran mahasiswa diharapkan dapat mengerti syntax di python, serta penggunaan method dan class di Python
        </div>
    </div>
    {%endif%}
    {%if cek == 'Struktur Data dan Algoritma' %}
    <div class="col-5  text-justify">
        <div class=" row">
            <b>Struktur Data dan Algoritma</b> 
        </div>
        <div class='row'>
            Jumlah SKS : 4 <br/> Prasyarat : Dasar-Dasar Pemrograman 2 <br/><br/>
        </div>
        <div class="row">
        Mata kuliah yang mempelajari tentang analisa Algoritma dan Struktur Data, mata kuliah ini memiliki tingkat kesulitan yang tinggi, namun akan mengasah kemampuan programming yang dimiliki mahasiswa
        </div>
    </div>
    {%endif%}
    {%if cek == 'Pengantar Organisasi Komputer' %}
    <div class="col-5  text-justify">
        <div class=" row">
           <b> Pengantar Organisasi Komputer</b>
        </div>
        <div class='row'>
            Jumlah SKS : 3 <br/> Prasyarat : Pengantar Sistem Digital <br/><br/>
        </div>
        <div class="row">
            Mata kuliah yang mempelajari tentang organisasi komputer, serta juga mempelajari penggunaan bahasa assembly serta proses pengubahan bahasa assembly ke bahasa mesin, 
        </div>
    </div>
    {%endif%}
    {%if cek == 'Matematika Diskret' %}
    <div class="col-5  text-justify">
        <div class=" row">
           <b> Matematika Diskret</b>
        </div>
        <div class='row'>
            Jumlah SKS : 3 <br/> Prasyarat : Tidak ada <br/><br/>
        </div>
        <div class="row">
            Mata kuliah yang mempelajari tentang logika matematika, induksi matematika, kombinatorika, serta himpunan dan relasi
        </div>
    </div>
    {%endif%}
    
    {%if cek == 'Matematika Dasar' %}
    <div class="col-5  text-justify">
        <div class=" row">
            <b>Matematika Dasar</b>
        </div>
        <div class='row'>
            Jumlah SKS : 3 <br/> Prasyarat : Tidak ada <br/><br/>
        </div>
        <div class=" row">
            Mata kuliah yang mempelajari tentang kalkulus, yaitu tentang teorema limit, turunan, integral, barisan tak hingga dll.
        </div>
    </div>
    {%endif%}
    <a class="btn btn-dark" href="{%url 'story5:lihatMatkul'%}">Kembali</a>

    
{% endblock content %}