{% extends "base2.html" %}
{%load static %}

{% block page_title %}
	{{page_title}}
{% endblock page_title %}

{% block content %}
    <h2>{{page_title}}</h2>
    <table class="table-hover table border border-dark ">
        <thead>
            <tr>
                <th scope="col">
                    Nama Mata Kuliah
                </th>
                <th scope="col">
                    Ruangan
                </th>
                <th scope="col">
                    Nama Dosen
                </th>
                <th scope="col">
                    Waktu
                </th>
                <th scope="col">
                    Action
                </th>
            </tr>
        </thead>
            {% for i in matkul %}
            <tr>
                <td>
                    <a class="btn" href="{%url 'story5:detail' cek_id=i.nama %}">{{i.nama}}</a>
                </td>
                <td>
                    {{i.ruangan}}
                </td>
                <td>
                    {{i.Dosen}}
                </td>
                <td>
                    {{i.jam}}
                </td>
                <td>
                    <a href="{%url 'story5:delete' delete_id=i.id %}" class="btn btn-danger">x</a>
                </td>                
            </tr>
            {% endfor %}
    </table>
    <a class="btn btn-dark" href="{%url 'story5:createMatkul'%}">Tambah</a>
    
{% endblock content %}