{% extends 'base2.html' %}
{%load static %}

{% block page_title %}  
{{page_title}}
{% endblock page_title %}
    
{% block content %}

<center class="border-2">
<h3>
    {{page_title}}{{status}}
</h3>    

    {%if stat == "1" %}
        <form method="POST" action="{%url 'story5:createMatkul'%}">
        
            {% csrf_token %}
            <table>
                {{matkul_form.as_table}}
            </table>
            <button type="Submit">Tambah </button>
           
        </form>
    {%elif stat == "2" %}
        <a class="btn btn-dark" href="">OK</a>
    {%endif %}
</center> 

{% endblock content %}


