
body{
    background-color: #DCCFEE;
}
.item{
    background-color: #232065;
    padding: 1em;
    text-align: justify;
}
.container{
    display: grid;
    grid-template-columns:1fr 49fr;
    row-gap: 1em;
    column-gap: 1em;
    color: white;
    margin: 1em;
  }
  .imageku{
      padding: 1em;
      background-color: #232065;
  }
