@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #DCCFEE;
}

.login-card{
  background-color: #232065;
  color: white;
  display: table-cell;
	text-align: center;
	vertical-align: middle;


}

.login-margin{
  padding: 3em;
  
}
.container{
  display: table;
  align-items: center;
  width:400px;
	height:400px;
	padding:20px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
  margin-left: -220px;

}

.btn-login{
  background-color: #17A7BF;
  color: white;
  margin-left: 0.5em;
}

.btn:hover{
  color: white;
}
.card{
  width:20%;
  height:20%;
  padding: 1.5em
}
