{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>About</title>
        {% block head %}
        <link rel="stylesheet" href="{%static 'css/bootstrap-grid' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    {%block content %}
    <body>
        
        <div class="row page ">
            <div>
                <a href="{% url 'story4:index' %}">
                <img class="buttonimg big" src="{%static 'button.png' %}">
                </a>
            </div>
            <div class="textbox pages" >
                <div class="subtitle bigger">
                    About me
                </div>
                <div class="content pad">
                    <div class="sub bigger" style="text-align: justify;"> I’m  a Computer Science Student and like anything about social service. I have confidence in public speaking. I like working in teams and learning new things</div>
                </div>
               
            </div>
        </div>
        
    </body>
    {% endblock %}
</html>



