{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Achievement</title>
        {% block head %}
        <link rel="stylesheet" href="{%static 'css/bootstrap-grid' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    {%block content %}
    <body style="background: #FFA300;;">
        <div class="row page ">
            <div>
                <a href="{% url 'story4:index' %}">
                <img class="buttonimg big" src="{%static 'button.png' %}">
                </a>
            </div>
            <div class="textbox pages" >
                <div class="subtitle bigger">
                    Achievement
                </div>
                <div class="volun">
                <div class="content pads">
                    <div class="sub bigger">Awardee Beasiswa Unggulan</div>
                    <div class="sub"> Ministry of Education</div>
                    2019
                </div>
                <div class="content pads">
                    <div class="sub bigger">2nd Place Bridge Competition</div>
                    <div class="sub"> Piala Ketua Umum IKA Undip</div>
                    U-21 Team Category <br>
                    2019
                </div>
                <div class="content pads">
                    <div class="sub bigger">1st Place Bridge Competition</div>
                    <div class="sub"> PORPROV XII</div>
                    U-21 Team Category and U21 Pair Category<br>
                    2019
                </div>
                <div class="content pads">
                    <div class="sub bigger">1st Place Bridge Competition</div>
                    <div class="sub">Kejurprov Bridge Kalimantan Barat XVI</div>
                    U-20 Team Category<br>
                    2019
                </div>
            </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>