{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Education</title>
        {% block head %}
        <link rel="stylesheet" href="{%static 'css/bootstrap-grid' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    {%block content %}
    <body style="background: #FFA300;;">
        <div class="row page ">
            <div>
                <a href="{% url 'story4:index' %}">
                <img class="buttonimg big" src="{%static 'button.png' %}">
                </a>
            </div>
            <div class="textbox pages">
                <div class="subtitle bigger">
                    Education
                </div>
                <div class="volun">
                <div class="content pads">
                    <div class="sub bigger">University of Indonesia</div>
                    <div class="sub">  Bachelor's degree, Computer Science</div>
                   2019-2022
                </div>
                <div class="content pads">
                    <div class="sub bigger">SMAN 1 Pontianak</div>
                    <div class="sub"> High School Diploma, Natural Sciences</div>
                    2016-2019
                </div>
                <div class="content pads">
                    <div class="sub bigger">SMPN 10 Pontianak</div>
                    <div class="sub"> Junor High School</div>
                    2016-2019
                </div>
                <div class="content pads">
                    <div class="sub bigger">SD Swasta Mujahidin</div>
                    <div class="sub"> Elementary School</div>
                    2016-2019
                </div>
            </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>