{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Experience</title>
        {% block head %}
        <link rel="stylesheet" href="{%static 'css/bootstrap-grid' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    {%block content %}
    <body style="background: #FFA300;;">
        <div class="row page ">
            <div>
                <a href="{% url 'story4:index' %}">
                <img class="buttonimg big" src="{%static 'button.png' %}">
                </a>
            </div>
            <div class="textbox pages" style="">
                <div class="subtitle bigger">
                    Experience
                </div>
                <div class="content pad">
                    <div class="sub bigger">Teaching Assistant</div>
                    <div class="sub"> Universitas Indonesia, part-time</div>
                    2020-2021
                </div>
                <div class="content pad">
                    <div class="sub bigger">Product Division</div>
                    <div class="sub"> Akademis.id, internship</div>
                    2020-2021
                </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>