<!DOCTYPE html>
<html lang="en">
    {% extends 'base.html' %}
{% load static %}
<html>

    <head>
        <meta charset="utf-8">
        {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">    
        <title>Home</title>
        <link rel="stylesheet" href="{%static 'css/bootstrap-grid' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" type="text/css">
        <link rel="stylesheet" href="{%static 'css/bootstrap' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" type="text/css">
        <link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    
    <body>
        
        {%block content %}
        <div class="wrapper ">
            <div class="prof">
                <back>
                   <img class="idcard" src="{%static 'idcard.PNG' %}">
                </back>
                <div>
                    <img class=tengah src="{%static 'gilangcy.PNG' %}" >
                </div>
                <div class="context">
                    <div class="content" style="text-align: center;">
                        <div class="sub">Gilang Catur Yudishtira</div>
                       Computer Science Student at Universitas Indonesia
                    </div>
                    <div class="contact">
                        <div>
                           <img class="imgcp" src="{%static 'born.png' %}">
                        </div>
                        <div>
                            Pontianak, 20 November 2001
                        </div>
                        <div>
                            <img class="imgcp" src="{%static 'mail.png' %}">
                        </div>
                        <div>
                            gilangcaturyudistira@gmail.com
                        </div>
                        <div>
                            <img class="imgcp" src="{%static 'phone.png' %}">
                        </div>
                        <div>
                           089531045813
                        </div>
                        <div>
                            <img class="imgcp" src="{%static 'adress.png' %}">
                        </div>
                        <div>
                            Sungai Raya Dalam St. Kota Pontianak, Kalimantan Barat
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <div class="section">
                <a href="{% url 'story4:about' %}">
                <div class="section1">
                    <div class="long-row">
                        <div>
                            <img class="buttonimg" src="{%static 'button.png' %}">
                        </div>
                        <div class="textbox">
                            <div class="subtitle">
                                About me
                            </div>
                            <div class="about">
                                I’m  a Computer Science Student and like anything about social service. I have confidence in public speaking. I like working in teams and learning new things
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                <a href="{% url 'story4:volun' %}">
                <div class="section2">
                    <div class="long-row">
                        <div>
                            <img class="buttonimg" src="{%static 'button.png' %}">
                        </div>
                        <div class="textbox">
                            <div class="subtitle">
                                Voluntary Experiences
                            </div>
                            <div class="content">
                                <div class="volun">
                                    <div class="sub">Vice Project Officer
                                        <div class="isisub">
                                            Bimbingan Belajar Gratis Fasilkom UI <br>
                                             2020-2021
                                        </div>
                                    </div>
                                    
                                    <div class="sub">Staff of Social Service Dept.
                                        <div class="isisub">
                                            BEM Fasilkom UI <br>
                                             2020-2021
                                        </div>
                                    </div>
                                    <div class="sub">Project Officer
                                        <div class="isisub">
                                            Yok Budak Masok UI 2021 <br>
                                             2020-2021
                                        </div>
                                    </div>
                                    <div class="sub">Staff of Sponsorship
                                        <div class="isisub">
                                            Pesta Rakyat Komputer <br>
                                             2020-2020
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="containers">
                <a href="{% url 'story4:edu' %}">
                <div class="row">
                    <div >
                        <img class="buttonimg" src="{%static 'button.png' %}">
                    </div>
                    <div class="textbox">
                        <div class="subtitle">
                            Education
                        </div>
                        <div class="content">
                            <div class="sub">University of Indonesia</div>
                           Bachelor's degree, Computer Science<br>
                           2019-2022
                        </div>
                        <div class="content">
                            <div class="sub">SMAN 1 Pontianak</div>
                           High School Diploma, Natural Sciences<br>
                           2016-2019
                        </div>
                    </div>
                </div>
                </a>
                <a href="{% url 'story4:experience' %}">
                <div class="row">
                    <div>
                        <img class="buttonimg" src="{%static 'button.png' %}">
                        
                    </div>
                    <div class="textbox">
                        <div class="subtitle">
                            Experiences
                        </div>
                        <div class="content">
                            <div class="sub">Teaching Assistant</div>
                           Universitas Indonesia, part time <br>
                           2020-2021
                        </div>
                        <div class="content">
                           <div class="sub">Product Division</div>
                           Akademis.id, internship <br>
                           2020-2021
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="containers">
                <a href="{% url 'story4:skills' %}">
                <div class="row">
                    <div>
                        <img class="buttonimg" src="{%static 'button.png' %}">
                    </div>
                    <div class="textbox">
                        <div class="subtitle">
                            Skills
                        </div>
                        <div class="content">
                            <div class="sub">
                            Python <br><br>
                            Java <br><br>
                            Fiction Writing <br><br>
                            Public Speaking
                            </div> 
                        </div>
                    </div>
                </div>
                </a>
                <a href="{% url 'story4:achievement' %}">
                <div class="row" >
                    <div>
                        <img class="buttonimg" src="{%static 'button.png' %}">
                    </div>
                    <div class="textbox">
                        <div class="subtitle">
                            Achievements
                        </div>
                        <div class="content">
                            <div class="sub">Awardee Beasiswa Unggulan</div>
                           Ministry of Education <br>
                           2019
                        </div>
                        <div class="content">
                            <div class="sub">2nd Place Bridge Competition</div>
                            Piala Ketua Umum IKA UNDIP<br>
                            U-21 Team Category <br>
                            2019
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
        {% endblock %}
    </body>
   
</html>