{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>SKills</title>
        {% block head %}
        <link rel="stylesheet" href="{%static 'css/bootstrap-grid' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    {%block content %}
    <body style="background: #FFA300;;">
        <div class="row page ">
            <div>
                <a href="{% url 'story4:index' %}">
                <img class="buttonimg big" src="{%static 'button.png' %}">
                </a>
            </div>
            <div class="textbox pages" style="padding-left: 2em;">
                <div class="subtitle bigger" style="padding-left: 0em;">
                    Skills
                </div>
                <div class="volun">
                    <div class="sub bigger padss ">Python</div>
                    <div class="sub bigger padss ">Java</div>
                    <div class="sub bigger padss ">Fiction Writing</div>
                    <div class="sub bigger padss ">Public Speaking</div>
                </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>