{% extends 'base.html' %}
{% load static %}
<html>
    <head>
        <title>Voluntary</title>
        {% block head %}
        <link rel="stylesheet" href="{%static 'css/bootstrap-grid' %}" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="{%static 'style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
    </head>
    {%block content %}
    <body style="background: #FFA300;;">
        <div class="row page ">
            <div>
                <a href="{% url 'story4:index' %}">
                <img class="buttonimg big" src="{%static 'button.png' %}">
                </a>
            </div>
            <div class="textbox pages" style="min-height: 1200px;">
                <div class="subtitle bigger">
                    Voluntary Experiences
                </div>
                <div class="volun">
                <div class="sub pads">
                    <div class="sub bigger">Vice Project Officer</div>
                    <div class="sub"> Bimbingan Belajar Gratis Fasilkom UI</div>
                    2020-21
                </div>
                <div class="sub pads">
                    <div class="sub bigger">Project Officer</div>
                    <div class="sub"> Yok Budak Masok UI 2021</div>
                    2020-2021
                </div>
                <div class="sub pads">
                    <div class="sub bigger">Staff Of Social Service Dept.</div>
                    <div class="sub"> BEM Fasilkom UI</div>
                    2020-2021
                </div>
                <div class="sub pads">
                    <div class="sub bigger">Staff of Sponsorship</div>
                    <div class="sub"> Pesta Rakyat Komputer</div>
                    2020-2021
                </div>
                <div class="sub pads">
                    <div class="sub bigger">Staff of Ticketing</div>
                    <div class="sub"> Yok Budak Masok UI 2020</div>
                    2019-2020
                </div>
                <div class="sub pads">
                    <div class="sub bigger">Teacher</div>
                    <div class="sub">Rumah Belajar BEM UI</div>
                    2020-2020
                </div>
                <div class="sub pads">
                    <div class="sub bigger">Vice Head of Mentor and Participants</div>
                    <div class="sub"> Bimbingan Belajar Gratis Fasilkom UI</div>
                    2019-2020
                </div>
                </div>
            </div>
        </div>
    </body>
    {% endblock %}
</html>