
<html>
    {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'story9.css' %}">
    <title>Story</title>
</head>

<body>
  <center>
    <div class="container">
          <div class="card login-card">
            <h1>Selamat Datang</h1> <h3> <b>{{user.first_name}} {{user.last_name}}</b> </h3><br>
            <a class="btn btn-danger" href="{% url 'story9:logoutstory' %}">Logout</a>
              </div>
            
      </div>
  </center>
</body>
</html>
